@use "./variables" as *;
@use "./mixins" as *;

.body {
    // reset
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    //

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;

    background-color: $light-background-color;

    font-family: $primary-font;
}

// mobile layout
@media screen and (max-width:434px) {
    .body {
        width: 300px;
        margin: auto;
    }
}

// tablet layout
@media screen and (min-width: 435px) and (max-width: 800px) {
    .body {
        max-width: 400px;
        margin: auto;
    }
}

// desktop layout
@media screen and (min-width: 801px) {

}