@use "./variables" as *;
@use "./mixins" as *;

.hide-button {
    display: none;
}

.body {
    &--light {
        background-color: $light-background-color;
    }
}
.nav {
    &__colour-mode {
        &--light {
            background-color: $light-button-color-3;
        }
    }
    &__github {
        &--light {
            background-color: $light-button-color-3;
        }
        &--button-light {
            color: $light-text-color;
            &:hover {
                background-color: $light-button-hover;
            }
        }
    }
}
.header {
    &--light {
        background-color: $light-display-color;
        color: $light-text-color;
    }
}
.main {
    &__box {
        &--light1 {
            background-color: $light-button-color-1;
        }
        &--light2 {
            background-color: $light-button-color-2;
        }
        &--light3 {
            background-color: $light-button-color-3;
        }
    }
    &__button {
        &--light {
            color: $light-text-color;
            &:hover {
                background-color: $light-button-hover;
            }
        }
    }
}

.record {
    &--light {
        color: $light-text-color;
        border: 1px solid $light-button-color-1;
    }
}

.full-display {
    &--light {
        ::-webkit-scrollbar {
            background-color: $light-button-color-3;
            border-radius: 6px;
        }
        ::-webkit-scrollbar-thumb {
            background: $light-button-color-1;
            border-radius: 6px;
        }
    }
}