@use "./variables" as *;
@use "./mixins" as *;

.main {
    &__button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        height: 94px;
        width: 94px;
        border-radius: 30%;

        font-family: $primary-font;
        font-size: $text-buttons;

        
        &:hover {
            background-color: $light-button-hover;
        }

    }
}

// mobile layout
@media screen and (max-width:434px) {
    .main {
        &__button {
            height: 69px;
            width: 69px;
            font-size: $text-buttons--phone;
        }
    }
}

// tablet layout
@media screen and (min-width: 435px) and (max-width: 800px) {

}

// desktop layout
@media screen and (min-width: 801px) {

}