@use "./variables" as *;
@use "./mixins" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // gap: 2px;
    align-items: flex-end;
    height: 8rem;

    @include calculatorWidth();

    background-color: $light-display-color;
    border-radius: 8px;

    &__result {
        margin: 0 20px;
        height: 30%;

        &--text {
            margin: 0;
            font-size: $text-display-small;
        }
    }
    &__formula {
        margin: 0 20px;
        height: 30%;
        
        &--text {
            margin: 0;
            font-size: $text-display-large;
        }
    }
}

// mobile layout
@media screen and (max-width:434px) {
    .header {
        width: 100%;
        height: 6rem;
        &__result {
            &--text {
                font-size: $text-display-small--phone;
            }
        }
        &__formula {
            &--text {
                font-size: $text-display-large--phone;
            }
        }
    }
}

// tablet layout
@media screen and (min-width: 435px) and (max-width: 850px) {

}

// desktop layout
@media screen and (min-width: 851px) {

}