@use "./variables" as *;
@use "./mixins" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // gap: 2px;
    align-items: flex-end;
    height: 8rem;

    @include calculatorWidth();

    background-color: $light-display-color;
    border-radius: 8px;

    &__result {
        margin: 0 20px;
        height: 30%;

        &--text {
            margin: 0;
            font-size: $text-display-small;
        }
    }
    &__formula {
        margin: 0 20px;
        height: 30%;
        
        &--text {
            margin: 0;
            font-size: $text-display-large;
        }
    }
}