@use "./variables" as *;
@use "./mixins" as *;

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 400px;
    margin-top: 1rem;

    &__colour-mode {
        background-color: $light-button-color-3;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        @include flexCenter();
    }
}

// mobile layout
@media screen and (max-width:434px) {
    .nav {
        width: 300px;
    }
}

// tablet layout
@media screen and (min-width: 435px) and (max-width: 850px) {

}

// desktop layout
@media screen and (min-width: 851px) {
    .nav {
        width: 850px;
    }
}