@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Indie+Flower&family=Pacifico&display=swap');

// font-family: 'Grape Nuts', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Pacifico', cursive;

$dark-background-color: #1f081d;
$dark-display-color: #6f5f6e;
$dark-button-color-1: #91528c;
$dark-button-color-2: #a776a3;
$dark-button-color-3: #ba94b7;

$light-background-color: #ffdcf3;
$light-display-color: #eda8c6;
$light-button-color-1: #d0436f;
$light-button-color-2: #d46685;
$light-button-color-3: #e991b0;

$primary-font: 'Pacifico', cursive;
$text-display-large: 28px;
$text-display-small: 24px;
$text-buttons: 32px;
