@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Indie+Flower&family=Pacifico&display=swap");
.body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f081d;
  font-family: "Pacifico", cursive;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 400px;
  margin-top: 1rem;
}
.nav__colour-mode {
  background-color: #f6bcd0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 434px) {
  .nav {
    width: 300px;
  }
}
@media screen and (min-width: 851px) {
  .nav {
    width: 850px;
  }
}
.full-display {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin: auto;
  margin-top: 2rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 434px) {
  .full-display {
    width: 300px;
  }

  .calculator {
    width: 300px;
  }
}
@media screen and (min-width: 435px) and (max-width: 850px) {
  .full-display {
    max-width: 400px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 8rem;
  overflow: auto;
  width: 400px;
  background-color: #eda8c6;
  border-radius: 8px;
}
.header__result {
  margin: 0 20px;
  height: 30%;
}
.header__result--text {
  margin: 0;
  font-size: 32px;
}
.header__formula {
  margin: 0 20px;
  height: 30%;
}
.header__formula--text {
  margin: 0;
  font-size: 48px;
}

@media screen and (max-width: 434px) {
  .header {
    width: 100%;
    height: 6rem;
  }
  .header__result--text {
    font-size: 26px;
  }
  .header__formula--text {
    font-size: 32px;
  }
}
.main {
  display: flex;
  justify-content: center;
}
.main__panel {
  display: grid;
  grid-template-columns: repeat(4, 94px);
  grid-template-rows: repeat(5, 94px);
  gap: 8px;
  grid-template-areas: "bracket root power divide" "seven eight nine multiply" "four five six subtract" "one two three add" "decimal zero backspace equals";
  width: 400px;
}
.main__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6bcd0;
  border-radius: 30%;
}
.main__box--zero {
  grid-area: zero;
}
.main__box--one {
  grid-area: one;
}
.main__box--two {
  grid-area: two;
}
.main__box--three {
  grid-area: three;
}
.main__box--four {
  grid-area: four;
}
.main__box--five {
  grid-area: five;
}
.main__box--six {
  grid-area: six;
}
.main__box--seven {
  grid-area: seven;
}
.main__box--eight {
  grid-area: eight;
}
.main__box--nine {
  grid-area: nine;
}
.main__box--decimal {
  grid-area: decimal;
  background-color: #e89bb1;
}
.main__box--backspace {
  grid-area: backspace;
  background-color: #e89bb1;
}
.main__box--add {
  grid-area: add;
  background-color: #e89bb1;
}
.main__box--subtract {
  grid-area: subtract;
  background-color: #e89bb1;
}
.main__box--multiply {
  grid-area: multiply;
  background-color: #e89bb1;
}
.main__box--divide {
  grid-area: divide;
  background-color: #e89bb1;
}
.main__box--bracket {
  grid-area: bracket;
  background-color: #e89bb1;
}
.main__box--root {
  grid-area: root;
  background-color: #e89bb1;
}
.main__box--power {
  grid-area: power;
  background-color: #e89bb1;
}
.main__box--equals {
  grid-area: equals;
  background-color: #dd658b;
}

@media screen and (max-width: 434px) {
  .main {
    width: 100%;
  }
  .main__panel {
    grid-template-columns: repeat(4, 69px);
    grid-template-rows: repeat(5, 69px);
  }
}
.record {
  display: none;
  max-height: 650px;
}
.record__text {
  height: 1rem;
  margin: 0;
}
.record__text--formula {
  font-size: 26px;
  height: 2rem;
  margin: 0 0 0 1rem;
}
.record__text--result {
  font-size: 32px;
  height: 2rem;
  margin: 0 0 0 1rem;
}

@media screen and (min-width: 851px) {
  .record {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    overflow: auto;
    border: 1px solid #dd658b;
    border-radius: 8px;
  }
}
.main__button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 94px;
  width: 94px;
  border-radius: 30%;
  font-family: "Pacifico", cursive;
  font-size: 32px;
}
.main__button:hover {
  background-color: #f13570;
}

.nav__colour-mode--button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.nav__colour-mode--button:hover {
  background-color: #f13570;
}

::-webkit-scrollbar {
  background-color: #f6bcd0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #dd658b;
  border-radius: 6px;
}

@media screen and (max-width: 434px) {
  .main__button {
    height: 69px;
    width: 69px;
    font-size: 26px;
  }
}
.hide-button {
  display: none;
}

.body--light {
  background-color: #ffdcf3;
}/*# sourceMappingURL=style.css.map */